/* You'll probably want to add some styles here */
#container {
	height:800px;
}

#table tr, #table td{
	padding-left: 50px;
}

#title{
	font-weight: bold;
}

#killed{
	color: red;
}

#hit{
	font-weight: bold;
}

h1{
	text-align: center;
}

h6{
	text-align: center;
	color: grey;
}

body{
	font-family: Century Gothic;
}



